<h1>Sign Up</h1>
<p>Already have an account Click <a href='/login'>here</a> to log in</p>

<form action="/signup" method="post">
  <input type="email" name="email" placeholder="Email"> <br>
  <input type="text" name="fullname" placeholder="Full Name"> <br>
  <input type="password" name="password" placeholder="Create a Pasword"> <br>
  <input type="submit" value="Sign Up">
</form>
